.jumbotron {
    display:block;
    height: 800px;
    background: url(../../img/front.jpg) no-repeat;
    background-size: cover;
    margin-bottom:0px !important;
}

.jumbotron .container {
    position: relative;
    top:100px;
}

.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #fff;
}


.coachesInfo{
    margin-top: 3%;
}

.coachesInfo h3{
    color: #00b0ff;
}

